<div style="margin-top: 10px; margin-bottom: 10px;">
<h3>Datos usuario</h3>
<form>
  <div class="form-group">
    <label for="exampleInputRut1">Rut</label>
    <input type="text" class="form-control" #exampleInputRut1 name="IdUsuario" placeholder="Rut" [(ngModel)]="usuario.IdUsuario" (blur)="formateaRut()">
  </div>
  <div class="form-group">
    <label for="exampleInputNombre1">Nombre</label>
    <input type="text" class="form-control" #exampleInputNombre1 name="Nombre" placeholder="Nombre" [(ngModel)]="usuario.Nombre">
  </div>

  
<h3>Asociar Grupos de usuario</h3>

<template ngFor let-grup [ngForOf]="grupos">
<div class="checkbox">
  <label>
    <input  type="checkbox" value="{{grup.IdGrupo}}"  (change)="logCheckbox($event.target)">
    {{grup.Nombre}}
  </label>
</div>
</template>


  <button type="button" class="btn btn-default" (click)="guardarUsuario()">Guardar</button>
</form>



</div>