<div class="col-md-12 bhoechie-tab-container">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bhoechie-tab-menu">
      <ul class="list-group nav" role="tablist">
        <li role="presentation" class="list-group-item text-center active">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <h4 class="glyphicon glyphicon-plane"></h4><br/>Lista</a>
        </li>
        <li role="presentation" class="list-group-item text-center">
          <a href="#agregar" aria-controls="profile" role="tab" data-toggle="tab">
            <h4 class="glyphicon glyphicon-road"></h4><br/>Agregar</a>
        </li>
        <li role="presentation" class="list-group-item text-center">
          <a href="#detalle" aria-controls="profile" role="tab" data-toggle="tab">
            <h4 class="glyphicon glyphicon-road"></h4><br/>Detalle</a>
        </li>
      </ul>
    </div>

    <div class="tab-content col-lg-11 col-md-11 col-sm-11 col-xs-11">
      <div role="tabpanel" class="tab-pane active" id="home">
          <list-users></list-users>
      </div>
      <div role="tabpanel" class="tab-pane" id="agregar">
          <add-user></add-user>
      </div>

      <div role="detalle" class="tab-pane" id="agregar">
          <user-data></user-data>
      </div>

    </div>
</div>






